# AWS API Gateway endpoints for IP rotation (one per search engine)
AWS_GATEWAY_GOOGLE=https://<id>.execute-api.<region>.amazonaws.com/prod
AWS_GATEWAY_BING=https://<id>.execute-api.<region>.amazonaws.com/prod
AWS_GATEWAY_BRAVE=https://<id>.execute-api.<region>.amazonaws.com/prod
AWS_GATEWAY_YANDEX=https://<id>.execute-api.<region>.amazonaws.com/prod
AWS_GATEWAY_DDG=https://<id>.execute-api.<region>.amazonaws.com/prod
